#app {
  width: 90vw;
  background-color: #333333;
  padding: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

.yellow {
  font-size: 8vw;
}

.imgQr {
  width: 60vw;
  height: 60vw;
  border-radius: 3px;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1.2vh;
  width: 60vw;
}

.btn-full {
  width: 60vw;
  background-color: #194e67;
  color: #f5ca56;
  font-weight: 600;
}

.options-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  transition: all ease 0.4s;
}

.views {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all ease 0.4s;
}

.options {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all ease 0.4s;
}

.downShare {
  width: 60vw;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  margin-top: 5px;
  gap: 10px;
}

.downShare a {
  flex: 1;
  height: 40px;
  border-radius: 5px;
  background-color: #194e67;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5ca56;
  font-size: 30px;
}

.downShare a:active {
  transition: all ease 0.1s;
  border: solid 1px #f5ca56;
  opacity: 0.4;
}

.downShare a:hover {
  transition: all ease 0.5s;
  opacity: 0.8;
}
